@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<br />

<h1 style="color:#444444">@ViewData["Title"]</h1>
<h3 style="color:#444444">
    Please check your email to reset your password.
</h3>
<img src="/img/footer1.png" alt="Image of Orbs" class="img-fluid foot" />

<style>
    footer.text-muted {
        color: white !important;
    }

        footer.text-muted a {
            color: white !important;
        }
</style>