@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
<br />
<h1 style="color:#444444">@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4" style="position: relative;">s
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="mb-3">
                <label>Email *</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" type="email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Password *</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" type="password"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Confirm Password *</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" type="password"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <input type="hidden" asp-for="Input.Email" class="form-control" />
            <input type="hidden" asp-for="Input.Token" class="form-control" />

            <br />
            <button type="submit" class="w-100 btn btn-primary">Reset Password</button>
        </form>
        <br />
        <br />
        <br />
        <img src="/img/orb4.png" alt="Image of Orbs" class="img-fluid" style="position: absolute; bottom: 0; right: 0;">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
