@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<br />
<h1 style="color:#444444">@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">

        <h4 style="color:#444444">
            Your password has been reset.
        </h4>
        <br />
        <a asp-page="./Login" class="btn btn-primary">Click Here to Login</a>
    </div>
</div>



<img src="/img/footer1.png" alt="Image of Orbs" class="img-fluid foot" />

<style>
    footer.text-muted {
        color: white !important;
    }

        footer.text-muted a {
            color: white !important;
        }
</style>