<!--Points to the model class-->
@model ApplicationUser

<form method="post" asp-action="RemoveScoutDetails" style="position: relative;">
	<div class="custom-border p-3 mt-4">
		<div class="row pb-2">
			<!--Displays heading-->
			<h2 style="color:#444444">Are you sure that you want to Remove this Scout?</h2>
			<hr />
		</div>

		<!--Displays the information that the user has saved regarding the Product-->
		<div class="mb-3">
			<label asp-for="SSAID">SSAID</label>
			<input asp-for="SSAID" disabled class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="FirstName">First Name</label>
			<input asp-for="FirstName" disabled class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="LastName">Last Name</label>
			<input asp-for="LastName" disabled class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="Email">Email</label>
			<input asp-for="Email" disabled class="form-control" />
		</div>

		<br />
		<br />


		<!--Button that allows the user to remove the entry to the database-->
		<button type="submit" class="btn btn-danger" style="width:240px">Remove Scout</button>

		<!--Anchor Tag that redirects the user to a new page if it's been clicked-->
		<a asp-controller="NewScout" asp-action="Index" class="btn btn-secondary" style="width:240px">Back to List of New Scouts</a>

		<br />
		<br />
		<img src="/img/orb4.png" alt="Image of Orbs" class="img-fluid" style="position: absolute; bottom: 0; right: 0;">
	</div>
</form>
