<!--Points to the model class-->
@model MyPatrolLogbook.ViewModels.CurrentScoutListViewModel

<br />

<!--Heading-->
<h1 class="text-white bigColour">Please contact your Provincial Admin to verify your account!!!</h1>

<h3 style="color:#444444">You cannot continue until your account has been verified by your Provincial Admin!</h3>
<!--Button that logs the user out of their account-->
<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login" method="post">

    <button type="submit" class="btn btn-primary">Okay</button>
</form>


<img src="/img/footer1.png" alt="Image of Orbs" class="img-fluid foot" />

<style>
    footer.text-muted {
        color: white !important;
    }

    footer.text-muted a {
        color: white !important;
    }
</style>