<div>

    <br />
    <h1 class="text-center">How To Navigate MyPatrolLogbook</h1>
    <br />

    <br />
    <h2 class="text-center">This website has been created exclusively for Scouts South Africa.</h2>
    <br />

    <h4>All Users</h4>
    <p>
        When the website is first opened, all users will have access to the home page, 
        this how-to-guide page and the links to the official SCOUTS South Africa website 
        and the official Star Patrol Guidelines and Evaluation Sheet.
    </p>
    <br />

    <h4>New User</h4>
    <p>
        Please select the register option and create an account. You will be required to fill in all the information. 
        If you do not know your SSA ID, you can find it on
        <a style=" color:#444444" href="https://www.scouts.digital/logon-system">Scouts Digital</a>.
        Once you have clicked the Register, you will be
        redirected to the Roles Page, where you will be required to select whether you are a Troop Scouter or Scout. Remember, 
        Troop Scouters must use their ‘Scouts South Africa’ email address when creating their account. After selecting your whether 
        you are a Troop Scouter or Scout, you will receive an email asking you to confirm your account. After confirming your account, 
        you will be required to choose the province that you live in and then continue to choose the troop that you belong to.
    </p>
    <br />

    <h4>Scout</h4>
    <p>
        If you are a Scout, then an email notification will be sent to your Troop Scouter so that they can confirm that you belong to their 
        troop and they will then assign you to your Patrol, as well as assign you the role of Patrol Leader if you are one.
        Once this is completed, you will then have access to your patrol’s information.

        <br />
        <br />
        As a Scout, you have access to your patrol’s information, attendance registers, patrol in council details, patrol activities, camps, 
        hikes, community service projects and evaluation sheet. Note that only Patrol Leaders can add information to the website and if you are 
        not a Patrol Leader, you can only view the information.

    </p>
    <br />
    <h4>Troop Scouter</h4>
    <p>
        If you are a Troop Scouter, an email notification will be sent to your Provincial Admin so that they can confirm that your troop details are correct. 
        Once this is done, you will then have access to your troop’s information.

        <br />
        <br />
        As a Troop Scouter, you have access to your troop’s information, including the various patrol’s attendance registers, 
        patrol activities, camps, hikes, community service projects and evaluation sheet. You will oversee assigning New Scouts
        to their patrols by assigning them the role of patrol leader. You are also able to manage your Current Scouts, by removing 
        scouts that are no longer a part of your troop from the website, or updating their patrol or role as patrol leader. 
        Lastly, you are in charge of adding patrols to your troop.

    </p>
    <br />

    <h4>Provincial Admin</h4>
    <p>
        If you are a Provincial Admin, then you are also in charge of verifying New Troop Scouters accounts, by ensuring that they are 
        joining the correct troops. You can also manage your Current Troop Scouters by removing troop scouters that are no longer a part of a troop. 
        Lastly, you are in charge of adding troops to your province. 
    </p>

</div>

<br/>
<br/>
<br/>

<img src="/img/footer1.png" alt="Image of Orbs" class="img-fluid foot" />

<style>
    footer.text-muted {
        color: white !important;
    }

        footer.text-muted a {
            color: white !important;
        }
</style>