<div class="text-center">
    
    <br />
    <h1>Our Team</h1>
    <br />

    <p>
        MyPatrolLogbook was created by Bright Solutions along with the help Nathisavaran Govender, KZN RTC Rovers.
        <br />
        <br />
        Bright Solutions is a group formed by three university students, Matthew Kidwell (left), Daniel Fourie (right) and Keisha Moonasar (middle), a Springbok Scout and an Assistant Troop Scouter at 57th Trafalgar Sea Scouts.
        <br />
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>
                        <div class="image-container-custbs">
                            <!-- Your images here -->
                            <div class="imageRef">
                                <img src="/img/bright.jpg" alt="Bright Solutions">
                                <div class="cap">
                                    Bright Solutions, 2023
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        The team also created an Android Application to assist scouts with pioneering. The app is called KnotTracker and can be found on the Google PlayStore or by <a style=" color:#444444" href="https://play.google.com/store/apps/details?id=com.brightsolutions_knottracker">click here</a>.
    </p>

</div>

