@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="position: relative;">
    <br />
    <h1>Privacy Policy</h1>
    <br/>
    <p>
        <b>Effective Date:</b> 01/01/2024
        <br/>
        <br/>
    Thank you for using MyPatrolLogbook. Your privacy and the security of your data are of utmost importance to us. This Privacy Policy explains how we collect, use, and safeguard your information when you use our website.
        <br />

        <h4>
            Information We Collect
        </h4>
        <b>
            Personal Information:
        </b>
        We collect personal information such as name, email address, patrol information, and troop details. This information is voluntarily provided by users upon registration or during the use of the platform.
        <br />
        <br />
        <b>
            Patrol Information:
        </b>
     MyPatrolLogbook allows scouts to store and organize information about their patrol, including camps, hikes, activities, and patrol meetings. This information is securely stored and accessible only to authorized users.
        <br />
        <br />

        <h4>
            How We Use Your Information
        </h4>
        <b>
            Purpose:
        </b>
    MyPatrolLogbook is designed to assist scouts in storing and organizing information necessary for the Star Patrol Evaluation held at the end of each year. The platform helps scouts access data about their patrol, calculate their current Star Patrol status based on saved information, and improve their performance throughout the year.
    <br/>
    <br/>

        <b>
            Access Control: 
        </b>
     Scouts have access only to their respective patrol's information, while Troop Scouters have access to their troop's information. This restricted access ensures the privacy and security of data.
        <br />
        <br />

        <h4>
            Data Security
        </h4>

        <b>
            Secure Database:
        </b>
        All data stored on MyPatrolLogbook is housed in a secure cloud database. We employ industry-standard security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information.
        <br />
        <br />

        <h4>
            Third-Party Disclosure
        </h4>

        <b>
            Limited Sharing:
        </b>
        We do not sell, trade, or otherwise transfer your personal information to outside parties. Your information is only accessible within the confines of the platform for the purposes described in this Privacy Policy.
        <br />
            <br />

        <h4>
            Changes to This Policy
            </h4>

        <b>

            Updates:
            </b> 
            We reserve the right to update or modify this Privacy Policy at any time. Any changes made will be effective immediately upon posting the revised policy on this page. We encourage users to review this page periodically for any updates.
        <br />
        <br />

        <h4>
            Contact Us
        </h4>

    If you have any questions or concerns regarding this Privacy Policy or the handling of your information, please contact us at brightsolutionsza@gmail.com.
        <br />
        <br />
    By using MyPatrolLogbook, you agree to the terms outlined in this Privacy Policy.
    </p>
</div>

<br />
<br />
<img src="/img/footer1.png" alt="Image of Orbs" class="img-fluid foot" />

<style>
    footer.text-muted {
        color: white !important;
    }

        footer.text-muted a {
            color: white !important;
        }
</style>