<br/>
<!--Heading-->
<h1 class="bigColour text-white">Please Select Your Role</h1>

<br />

<!--Creates form for the user to input the relevant information-->
<div>
    <!--Button that allows the user to add an entry to the database-->
    <a asp-controller="Role" asp-action="AssignTS" class="btn btn-primary">
        Troop Scouter
    </a>
</div>

<br/>

<!--Creates form for the user to input the relevant information-->
<div>
    <!--Button that allows the user to add an entry to the database-->
    <a asp-controller="Role" asp-action="AssignScout" class="btn btn-primary">
        Scout
    </a>
</div>


<img src="/img/footer1.png" alt="Image of Orbs" class="img-fluid foot" />

<style>
    footer.text-muted {
        color: white !important;
    }

        footer.text-muted a {
            color: white !important;
        }
</style>