<!--Points to the viewmodel class-->
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<br />
<!--Heading-->
<h2 style="color:#444444">Please Select Your Province</h2>

<br/>

<!--Displays the various roles in the form of radio buttons-->
<form asp-action="SubmitTS" method="post">
    @Html.DropDownList("ProvinceList", ViewBag.provinceList as SelectList, "-- Select an Option --", new { @class= "form-control custom-dropdown" })

    <br />

    <!--Button that allows the user to save their selected role to the database-->
    <button type="submit" class="btn btn-primary">Save</button>

</form>



<img src="/img/footer1.png" alt="Image of Orbs" class="img-fluid foot" />

<style>
    footer.text-muted {
        color: white !important;
    }

        footer.text-muted a {
            color: white !important;
        }
</style>