<!--Points to the model class-->
@model ApplicationUser

<!--Creates form for the user to remove the relevant information-->
<form method="post" asp-action="Confirm">
	<div class="custom-border p-3 mt-4" style="position: relative;">
		<div class="row pb-2">
			<h2 style="color:#444444">Please verify that this Troop Scouter does in fact belong to their selected Troop!</h2>
			<hr />
		</div>

		<div class="mb-3">
			<label asp-for="FirstName">First Name</label>
			<input asp-for="FirstName" disabled class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="LastName">Last Name</label>
			<input asp-for="LastName" disabled class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="Email">Email</label>
			<input asp-for="Email" disabled class="form-control" />
		</div>

		<div class="mb-3">
			<label asp-for="TroopId">Selected Troop Name</label>
			@Html.DropDownList("TroopList", ViewBag.troopList as SelectList, new { @class= "form-control custom-dropdown", disabled = "disabled" })
		</div>

		<br />
		<br />
		<!--Button that allows the user to remove the entry to the database-->
		<button type="submit" class="btn btn-primary mx-2" style="width:250px">Verify Troop Scouter</button>

		<!--Anchor Tag that redirects the user to a new page if it's been clicked-->
		<a asp-controller="NewTroopScouter" asp-action="Index" class="btn btn-secondary" style="width:250px">Back to New Troop Scouters</a>

		<br/>
		<br/>


		<img src="/img/orb4.png" alt="Image of Orbs" class="img-fluid" style="position: absolute; bottom: 0; right: 0;">
	</div>
</form>
